# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# local env files
.env
.env.*

# OS junk
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# typescript
*.tsbuildinfo

# keys
*.pem
